/* message sender */
.message-sender {
  padding: 1rem 1.5rem;
}

/* status */
.status {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-bottom: 1rem;

  border-bottom: 2px solid var(--input-bg);
}
.status .MuiButton-root {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.5rem 1rem;

  font-size: .8rem;
  color: var(--secondary-text);
  text-align: left;

  background-color: var(--input-bg);

  border-radius: 999px;
}