.contact__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__title__detail{
  display: flex;
  gap: 10px;
}
.contact__title__item{
  display: flex;
  align-items: center;

  font-weight: 500;
}

.contact .badget-active {
  width: 12px;
  height: 12px;

  border-radius: 999px;

  position: absolute;
  bottom: 3%;
  right: 0;

  border: 2px solid var(--white);
}

.active-user.badget-active{
  background-color: #44b700;
  color: #44b700;
}

.inactive-user.badget-active{
  background-color: red;
  color: red;
}