.sidebar{
  flex: 1;
  max-width: 350px;
  padding: 1rem .3rem;

  height: calc(100vh - 5rem);

  overflow-y: auto;

  position: sticky;
  top: var(--header-height);
}
/* custom scroll */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar__wrapper{
  position: sticky;
  height: 100%;
}

@media screen and (max-width: 1095px){
  .sidebar{
    display: none;
  }
}