.sidebar{
  flex: 1;
  max-width: 350px;
  padding: 1rem .3rem;

  height: calc(100vh - 5rem);

  overflow-y: auto;

  position: sticky;
  top: var(--header-height);
}
/* custom scroll */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track:hover {
  background: rgba(var(--black-rgb), .2); 
  border-radius: 999px;
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb:hover{
  background: rgba(var(--black-rgb), .4); 
  border-radius: 999px;
}


.sidebar__wrapper{
  position: sticky;
}