.sidebarRow {
  display: flex;
  align-items: center;

  padding: 10px;

  cursor: pointer;

  gap: 10px;

  transition: all .3s ease;

  border-radius: var(--border-radius);
}
.sidebarRow:hover{
  background-color: rgba(var(--secondary-rgb), .7);
}

.sidebarRow .MuiSvgIcon-root{
  color: var(--primary-button-background);
  font-size: 1.75rem;
}