/* story-reel */
.story-reel{
  display: flex;
  gap: 15px;
}

/* story */
.story{
  flex: 1;

  position: relative;
  width: 120px;
  height: 200px;

  border-radius: var(--border-radius);

  cursor: pointer;

  overflow: hidden; /* hide image overflow when overflow */

}
/* creator */
.story-creator{
  position: relative;
}
.story-creator__image{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.story-creator__add .MuiSvgIcon-root{ 
  width: 40px;
  height: 40px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white);

  border: 2px solid var(--white);
  border-radius: 999px;
}
.story-creator__option{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;

  background-color: var(--white);

  color: var(--black);
  font-size:.8rem;
  font-weight: 500;
}
/* friend story */
.story__image{
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  object-position: center;
  
  transition: all .3s ease;

  z-index: 0;

  border-radius: var(--border-radius);
}

.story:hover .story__image{
  transform: scale(1.1);

  filter: brightness(.6);
}

.story__avatar{
  top: 5px;
  left: 5px;

  border: 5px solid var(--primary-button-background);
}
.story__title{
  position: absolute;
  bottom: 5px;
  left: 5px;
  
  color: var(--white);
  font-size: .75rem;
}