/* messenger */
.messenger__detail {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--header-height) - 2rem);
  margin: 1rem;

  overflow-y: scroll;
}
/* header */
.messenger__wrapper__header{
  position: sticky;
  top: 0;
  padding: 1rem 1rem 0;
  
  z-index: 2;
  
  background-color: var(--white);
}
.messenger__detail__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* chat area */
.messenger__chat-area {
  flex: auto;
  padding: 1rem;
}

.row__user {
  margin: 1rem 0;
}
.row__user > * ~ * {
  margin-top: 0.3rem;
}

.chat {
  max-width: 70%;
}

.chat__right {
  margin-left: auto;
}

.chat__detail {
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  color: var(--black);
}
.chat__left .chat__detail {
  background-color: var(--input-bg);
}
.chat__right .chat__detail {
  color: var(--white);

  background-color: var(--primary-button-background);
}

.chat__detail--timestamp {
  font-size: 0.7rem;
  text-align: right;
}

/* received chat user */
.chat__user {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.chat__user__content {
  width: 100%;
}
.chat__user__content > * ~ * {
  margin-top: 0.3rem;
}

.chat__user__header {
  font-size: 0.7rem;
  text-indent: 0.5rem;
  font-weight: 500;
  color: var(--black);

  margin-bottom: 0.2rem;
}

/* seen time */
.seen-timestamp{
  display: flex;
  gap: 5px;
}
.seen-timestamp__time{
  display: block;
  font-size: .7rem;
}

/* input sender  */
.messenger__wrapper__sender{
  position: sticky;
  bottom: 0;

  background-color: var(--white);
}
.messenger__sender{
  padding: .5rem 1rem;
}
.messenger__sender__input {
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  background-color: var(--input-bg);

  border-radius: 999px;
}
