:root{
  /* background color */
  --white: #fff;
  --white-rgb: 255,255,255;
  
  --black: #000;
  --black-rgb: 0, 0, 0;
  
  --input-bg: #eff2f5;
  --input-bg-rgb: 239,242,245;

  --primary-button-background: #2374E1;

  /* color */
  --secondary-icon: #B0B3B8;
  --secondary-rgb: 176, 179, 184;

  --secondary-text: #65676B;
  /* variable */
  --border-radius: 10px;

  /* variable */
  --header-height: 80px;
}